<!-- Footer -->
<footer class="footer light-orange-bg border-top border-3">
    <div class="container-fluid light-orange-bg">
        <div class="row">
            <div class="col-sm text-center">
                <span class="footer-logo light-rose">Insta</span><span class="footer-logo2">Sketch</span>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm text-center">
                <div class="row">
                    <div class="col-6">
                        <span class="footer-logo2"><a href="/about">About Us</a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <span class="text-muted">Place sticky footer content here.</span> -->
        <!-- <div class="text-center">© 2018 InstaSketch:
                        <span class="font-weight-bold"> The platform for imagination</span>
                    </div> -->
    </div>
</footer>
<!-- Footer -->
