<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark light-orange-bg mb-4 border-bottom border-3">
    <a href="javascript:void(0)" class="navbar-brand"><span class="footer-logo light-rose">Insta</span><span class="footer-logo2">Sketch</span></a>
    <div class="container-fluid">
        <div class="col-xs text-center">
            <a href="/student-profile" class="nav-link">My Profile</a>
        </div>
        <div class="col-xs text-center">
            <a href="/drawings" class="nav-link">My Drawings</a>
        </div>
        <div class="col-xs text-center">
            <a href="/student-submissions" class="nav-link">Submissions</a>
        </div>
        <div class="col-xs text-center">
            <a href="/sketchbook" class="nav-link active-link">Sketchbook</a>
        </div>
    </div>
</nav>
<!-- Navbar -->