<!--  The main content goes here -->
<main role="main" class="container">
  <h1>Admin page</h1>
  <div id="add"></div>
  <table id="studentTable"></table>
  <div id="legendDiv">
      <h4><b>Legend</b></h4>
    <div>
      <div class="box normalStudent">
      </div>
      <span>
        Normal student
      </span>
    </div>
    <div>
      <div class="box broken">
      </div>
      <span>
        Student requested new account
      </span>
    </div>
  </div>


</main>
<!-- End of main content -->
