<!--  The main content goes here -->
<main role="main" class="container">
  <form name="loginForm" action="" onsubmit="return validateForm()">
    <h1>Welcome to <span class="footer-logo light-rose reset-size">Insta</span><span class="footer-logo2 reset-size">Sketch</span></h1>
    <hr>
    <div class="login">
      <label for="uname"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="uname" id="uname" required>
      <label for="pw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="pw" id="pw" required>
      <button id="btn1" class="btn-light btn-lg" type="reset">Login</button>
    </div>
    <div class="forgot">
      <span class="registr"><a href="registration">Create an account</a></span>
      <span class="pw"><a href="findAccount.html">Forgot ID/Password?</a></span>
    </div>
  </form>
</main>
<!-- End of main content -->
