<main role="main" class="container">
    <div class="row">
        
    </div>

    <button type='button' title='Create a new session' onclick='addSession()' class='btn btn-primary btn-circle'>+</button>
</main>