    <!--  The main content goes here -->
    <main role="main" class="container gray-bg">
        <div class="row">
            <div id="canvasDiv" class="col-10">
                <canvas id="canvas" width="1366" height="700" class="canvas"></canvas>
            </div>
            <div class="col-1 lowzindex"></div>
            <div class="col-1">
                <div class="row">
                    <div id="colorpicker" class="col-6 nopad">
                        <button class="color"></button>
                        <button class="color"></button>
                        <button class="color"></button>
                        <button class="color"></button>
                        <button class="color"></button>
                        <button class="color"></button>
                        <button class="color"></button>
                        <button class="color"></button>
                    </div>
                    <div id="miscellaneous" class="col-6 nopad">
                        <button value="3"  id="smallWidthBrush" class="widthSelector"></button>
                        <button value="10" id="medWidthBrush" class="widthSelector"></button>
                        <button value="20" id="largeWidthBrush" class="widthSelector"></button>
                        <button value="100" id="extralargeWidthBrush" class="widthSelector"></button>
                        <button class="eraser" value="#ffffff"></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="toolRow" class="row">
            <div id="tools" class="col-3">
                <button id="undo" class="tool"></button>
                <button id="redo" class="tool"></button>
                <button class="clear-sketch btn-light btn-lg">Clear</button>
            </div>
            <div id="submitSketch" class="col-8">
                <div class="row">
                    <div class="col-4">
                        <input type="text" class="form-control-lg col-12" id="drawingTitle" placeholder="Your drawing title">
                    </div>
                    <div class="dropup col-4">
                        <button class="btn-light btn-lg dropdown-toggle col-12" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            No session
                        </button>
                        <div id="availableSessions" class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton">
                            <a id="noSessionItem" class="dropdown-item active" href="javascript:void(0)">No session</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <button id="submitSketchButton" class="btn-light btn-lg btn-submit col-12" data-toggle="modal" data-target="#submissionConfirmModal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!--    MODAL DIV (for when the user submits the sketches) -->
        <div class="modal fade" id="submissionConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Are sure you want to submit your sketch?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        This will save your current sketch to your drawings, send to the session if you have choosen one,
                        and <strong>Clear</strong> your Sketchbook!
                    </div>
                    <div class="modal-footer">
                        <button id="submitAccept"type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End of main content -->