<main role="main" class="container gray-bg">
	<div class="profile" id="profile">
		<div class="row" id="profilePic">
			<img class="pImg" src="" />
			<br>
		</div>
		<div class="row entry">
			<div class="col-8" id="firstName">
				<strong id="firstNameText">First Name: </strong><span>  </span>
			</div>
			<div class="col-4 text-right">
				<button class="editButton"> Edit </button>
			</div>
		</div>
		<div class="row entry">
			<div class="col-8" id="lastName">
				<strong id="lastNameText">Last Name: </strong><span>  </span>
			</div>
			<div class="col-4 text-right">
				<button class="editButton"> Edit </button>
			</div>
		</div>
		<div class="row entry">
			<div class="col-8" id="school">
				<strong id="schoolText">School: </strong><span>  </span>
			</div>
			<div class="col-4 text-right">
				<button class="editButton"> Edit </button>
			</div>
		</div>
		<div class="row entry">
			<div class="col-8" id="email">
				<strong id="emailText">E-mail: </strong><span>  </span>
			</div>
			<div class="col-4 text-right">
				<button class="editButton"> Edit </button>
			</div>
		</div>
		<div class="row entry">
			<div class="col-8" id="teacher">
				<strong id="teacherText">Teacher: </strong><span>  </span>
			</div>
			<div class="col-4 text-right">
				<button class="editButton"> Edit </button>
			</div>
		</div>
		<div class="row entry">
			<div class="col-8" id="province">
				<strong id="provinceText">Province: </strong><span>  </span>
			</div>
			<div class="col-4 text-right">
				<button class="editButton"> Edit </button>
			</div>
		</div>
	</div>
</main>