.card {
    width: 250px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 40px;
}

.card a {
    border-bottom: inherit;
}

.card-img-top {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.row {
    margin: 0 auto;
    width: 100%;
}
