.card {
    width: 320px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 40px;
    border-color: black;
}

.card:hover {
    box-shadow: 0 0 2px 1px skyblue;
}

.card a {
    text-decoration: none;
    color: black;
}

.row {
    margin: 0 auto;
    width: 100%;
}